In [2]:
%load_ext autoreload
%autoreload 2

In [21]:
import pandas as pd
from pathlib import Path
from load_data import load_csv_to_df

DATA_DIR = 'data'

In [25]:
data_file = "guns_full_data.csv"
datapath = Path(DATA_DIR) / Path(data_file)
df = load_csv_to_df(datapath)
df.head()

,year,month,intent,police,sex,age,race,hispanic,place,education
1,2012,1,Suicide,0,M,34.0,Asian/Pacific Islander,100,Home,BA+
2,2012,1,Suicide,0,F,21.0,White,100,Street,Some college
3,2012,1,Suicide,0,M,60.0,White,100,Other specified,BA+
4,2012,2,Suicide,0,M,64.0,White,100,Home,BA+
5,2012,2,Suicide,0,M,31.0,White,100,Other specified,HS/GED

In [32]:
intent_counts = df['intent'].value_counts()
total_deaths = intent_counts.sum()
print(intent_counts)
print(f'A share of Suicide is {intent_counts["Suicide"] / total_deaths:.2f}, which is nearly 2/3')
print(f'A share of Homiside is {intent_counts["Homicide"] / total_deaths.sum():.2f}, which is nearly 1/3')

Suicide         63175
Homicide        35176
Accidental       1639
Undetermined      807
Name: intent, dtype: int64
A share of Suicide is 0.63, which is nearly 2/3
A share of Homiside is 0.35, which is nearly 1/3

In [29]:
sex_counts = df['sex'].value_counts()
print(f'A share of Male victims is {sex_counts["M"] / sex_counts.sum() * 100:.2f}%')

A share of Male victims is 85.67%

In [41]:
young_male_homicide = df[(df['sex'] == 'M') & (df['intent'] == 'Homicide') & (15 <= df['age']) & (df['age'] <= 34)]
ymh_race_counts = young_male_homicide['race'].value_counts()
race = 'Black'
print(f'A share of {race} victims of homicide for male of 15-34 is {ymh_race_counts[race] / ymh_race_counts.sum() :.2f}')

A share of Black victims of homicide for male of 15-34 is 0.66

In [48]:
all_homicide = df[df['intent'] == 'Homicide']
female_homicide = all_homicide[all_homicide['sex'] == 'F']
print(f'The percent of female homiside victims is {len(female_homicide) / len(all_homicide) * 100:.2f}')

The percent of female homiside victims is 15.27